.idea
**/.venv
**/.idea
_AI-bot/tft_runs/*
pompilo_analytics/app/.idea
pompilo_analytics/app/.venv
./data_collector/.idea
./data_collector/.venv
**/__pycache__/*
**/**/__pycache__/*
**/**/**/__pycache__/*
**/**/**/**/__pycache__/*
